<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aihealueet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Aihealueet!</h1>

        <ol>
            <li th:each="aihealue: ${aihealueet}">
                <span th:text="${aihealue.kuvaus}"> jipii</span>  <a th:href="${'/s/foorumi/' + aihealue.kuvaus}"> linkki </a>
            </li>
        </ol>
    </body>
    
</html>