<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kirjautumissivu</title>
        
    </head>

    <body>
        <h1>Kirjautumis/Rekisteroimis -sivu foorumille!</h1>

        

        Nimimerkki ja salasana on max 20 kirjainta. <br/>
            Muita kayttajia loytyy <a href="/kayttajat">taalta.</a> <br/>
        Sinun on kirjauduttava jos haluat tehdä taalla jotain. <br/>
        Jos olet jo kirjautunut sisaan klikkaa <a href="/s/foorumi">tasta.</a> <br/>

        
        Login

        <form method="POST" action="/login">
            Username:<br/>
            <input type="text" name="nimimerkki"/><br/>
            Password:<br/>
            <input type="text" name="salasana"/><br/>
            <input type="submit" value="Kirjaudu"/>            
        </form>
        
        
        
        Rekisterointi
        
        <form method="POST" action="/register">
            Username:<br/>
            <input type="text" name="nimimerkki"/><br/>
            Password:<br/>
            <input type="text" name="salasana"/><br/>
            <input type="submit" value="Rekisteroidy"/>            
        </form>
        
        Kirjaudu ulos
        
        <form method="POST" action="/logout">
            <input type="submit" value="Logout"/>
        </form>
    </body>
</html>