<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Salainen sivu</title>
        <meta charset="utf-8" />
    </head>

    <body>
        
        Vain Sauli voi kayttaa naita :P <br/>
        
        aihealue lisays
        <form action="/s/foorumi/aihealueenlisays" method="POST">
            <input type="text" name="aihe"/>
            <input type="submit"/>
        </form>
        aihealue poisto
        <form action="/s/foorumi/aihealueenpoisto" method="POST">
            <input type="text" name="aihe"/>
            <input type="submit"/>
        </form>
    </body>
    
</html>
